# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.so

# ---- Virtualenv ----
venv/
ENV/
env/
.venv/

# ---- Environment Variables ----
*.env
.env.*
*.secret
*.keys

# ---- Django ----
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
db.sqlite3-journal

# ---- Migrations (optional) ----
# Uncomment this if you want to ignore migration files
# */migrations/*
# !*/migrations/__init__.py

# ---- Static & Media ----
staticfiles/
static/
media/
build/
dist/

# ---- Gunicorn ----
gunicorn.pid

# ---- VSCode & IDEs ----
.vscode/
.idea/
*.swp

# ---- OS Files ----
.DS_Store
Thumbs.db

# ---- Render / Deployment ----
*.db
node_modules/
